
.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: gray;
    height: 43px;
}

#footer2 {
    background: #A9A9A9;
    height: 36px;
}
